{
  parser: "babel-eslint",
  "plugins": [
    "react",
    "node"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "react/display-name": 0,
    "no-console": "off",
    "comma-dangle": "error",
    "no-multi-spaces": "error",
    "no-catch-shadow": "error",
    "no-delete-var": 0,
    "no-label-var": 0,
    "no-shadow-restricted-names": "error",
    "no-undef": "warn",
    "no-undef-init": "error",
    "no-undefined": "error",
    "no-unused-vars": ["error", { "vars": "all", "args": "none", "ignoreRestSiblings": false }],
    "no-use-before-define": "error",
    "brace-style": 0,
    "camelcase": 0,
    "comma-spacing": 0,
    "comma-style": 0,
    "consistent-this": 0,
    "eol-last": ["error", "always"],
    "func-names": 0,
    "func-style": 0,
    "key-spacing": 0,
    "max-nested-callbacks": 0,
    "new-cap": 0,
    "new-parens": 0,
    "no-array-constructor": 0,
    "no-inline-comments": 0,
    "no-lonely-if": 0,
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxBOF": 1 }],
    "no-nested-ternary": 0,
    "no-new-object": 0,
    "semi-spacing": "error",
    "no-spaced-func": 0,
    "no-ternary": 0,
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "no-underscore-dangle": 0,
    "no-wrap-func": 0,
    "one-var": 0,
    "operator-assignment": 0,
    "padded-blocks": 0,
    "quote-props": 0,
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "semi": ["error", "always"],
    "sort-vars": 0,
    "space-before-function-paren": ["error", "always"],
    "keyword-spacing": ["error", { "before": true }],
    "space-before-blocks": 1,
    "space-in-brackets": 0,
    "space-in-parens": ["error", "never"],
    "space-infix-ops": 1,
    "space-unary-ops": 0,
    "object-curly-spacing": [
      "error",
      "always",
      {
        "objectsInObjects": true,
        "arraysInObjects": true
      }
    ],
    "spaced-comment": ["error", "always"],
    "wrap-regex": 0,
    "no-var": 0,
    "generator-star": 0,
    "max-depth": 0,
    "max-len": 0,
    "max-params": 0,
    "max-statements": 0,
    "no-bitwise": 0,
    "no-plusplus": 0
  }
}
